<nav>
    <ul>
        <li><a href="/matchen"><i class="material-icons">person</i><p>Account</p></a></li>
        <li><a href="/profielen" class="active"><i class="material-icons">search</i><p>Zoek Matches</p></a></li>	
        <li><a href="/logout"><i class="material-icons ">exit_to_app</i><p>Stop sessie</p></a></li>
    </ul>
    </nav>