<nav>
    <ul>
        <li><a href="/matchen"><i class="material-icons">person</i><p>Persoon</p></a></li>
        <li><a href="/profielen" class="active"><i class="material-icons">search</i><p>Zoek Matches</p></a></li>	
        <li><a href="mijnprofiel.html"><i class="material-icons">chat_bubble</i><p>Chatten</p></a></li>
    </ul>
    </nav>