<nav>
    <ul>
        <li><a href="/matchen"><i class="material-icons">person</i><p>Account</p></a></li>
        <li><a href="/profielen" class="active"><i class="material-icons">search</i><p>Zoek Matches</p></a></li>	
        <li><a href="#"><i class="material-icons">chat_bubble</i><p>Chats</p></a></li>
    </ul>
    </nav>