<nav>
    <ul>
        <li><a href="home.html"><i class="material-icons">person</i></a></li>
        <li><a href="profielen.html" class="active"><i class="material-icons">search</i></a></li>	
        <li><a href="mijnprofiel.html"><i class="material-icons">chat_bubble</i></a></li>
    </ul>
    </nav>