<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">
<link href="css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Home</title>