<!DOCTYPE html>
<html lang="nl">
<head>
   <%- include('../partials/head') %>
</head>
<body>
    <header>
		 <%- include('../partials/header') %>
    </header>
<main>
	<form action='/matchen' method='post'>
        <p>Update hier jouw voorkeuren!</p>
        <label>
            <span>Welke sport vind je leuk: </span>
            <label class="sports">Voetbal
                <input type="checkbox" name=sporten value=Voetbal>
                <span class="checkmark"></span>
            </label>
            <label class="sports">Tennis
                <input type="checkbox" name=sporten value=Tennis>
                <span class="checkmark"></span>
            </label>
                <label class="sports">Hockey
                    <input type="checkbox" name=sporten value=Hockey>
                    <span class="checkmark"></span>
                </label>
            <label class="sports">Zwemmen
                <input type="checkbox" name=sporten value=Zwemmen>
                <span class="checkmark"></span>
            </label>
            <label class="sports">Fitness
                <input type="checkbox" name=sporten value=Fitness>
                <span class="checkmark"></span>
            </label>
            <label class="sports">Basketball
                <input type="checkbox" name=sporten value=Basketball>
                <span class="checkmark"></span>
            </label>
            <label class="sports">Volleybal
                <input type="checkbox" name=sporten value=Volleybal>
                <span class="checkmark"></span>
            </label>
        </label>      
        <label>
            <span>Anders: </span>
            <input type="text" name="anders">
        </label>   
        <label>
            <span>Aantal keer sporten in de week: </span>
            <input type="number" placeholder="6" name="aantal" min="1" max="10">
        </label> 
        <input type="submit" value="Sla voorkeuren op"></button>
    </form>
</main>
</body>
</html>