<!DOCTYPE html>
<html lang="nl">
<head>
 <%- include('../partials/head') %>
</head>
<body class="login">
	<main class="inloggen">
		<h1 class="login">Dating voor Sporters</h1>
		<a class='btn-inloggen' href='/matchen'>Inloggen</a>
		<a class='btn-registreren' href='#'>Registreren</a>
	</main>
</body>
</html>