<!DOCTYPE html>
<html lang="nl">
<head>
 <%- include('../partials/head') %>
</head>
<body class="login">
   <header></header>
	<main>
		<h1>Dating voor Sporters</h1>
		<a class='btn-inloggen' href='/matchen'>Inloggen</a>
		<a class='btn-registreren' href='#'>Registreren</a>
	</main>
</body>
</html>